services:
  app:
    build:
      context: ../../backend/gastano
      dockerfile: Dockerfile.dev
    container_name: gastano_app
    command: bash -lc "bundle exec puma -C config/puma.rb"
    volumes:
      - ../../backend/gastano:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: gastano_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
